.counter {
    border: solid 1px #c5c5c5;
    margin-top: 40px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  }
  
  button {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    border: none;
    padding: 10px;
    background-color: cadetblue;
    color: #fff;
    letter-spacing: 1px;
  }