@use '../abstracts' as a;

body {
    background-color: a.$tertiary-color;
}

h2 {
    text-align: center;
    font-size: 200%;
    margin-top: 5%;
    color: a.$white;
}

.hero {

    background-color: a.$primary-color;
    border: 1rem solid a.$accent-color;
}

.strike-text.strike {
    text-decoration: line-through;
}

#overview-section {
    background-color: a.$secondary-color;
}

#use-section {
    background-color: a.$primary-color;
}

#demo-section {
    background-color: a.$secondary-color;
}